body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff; /* Menambahkan background ke body */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 999999px; /* Menambahkan border-radius */
    margin: 20px; /* Menambahkan margin untuk memberikan ruang di sekitar navbar */
}

.navbar-brand .logo {
    height: 10px;
    width: 98px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar-user .username {
    background-color: pink;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f8ff;
    border-radius: 20px; /* Menambahkan border-radius ke section hero */
    margin: 20px; /* Menambahkan margin untuk memberikan ruang di sekitar hero section */
}

.hero h1 {
    font-size: 2.5em;
    color: #333;
}

.hero p {
    max-width: 600px;
    margin: 20px auto;
    color: #555;
}

.image-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.circle-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.services {
    text-align: center;
    padding: 50px 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    padding: 20px;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: #333;
}

.card p {
    color: #555;
}

.card button {
    background-color: #95BB6F;
    ;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card button:hover {
    background-color: #76c76b;
}

.lokasi-perusahaan {
    display: flex;
    justify-content: center;
}

.card-section3 {
    width: 420px;
    height: 635px;
}

.subjudul-info {
    padding-inline: 24px;
    text-align: cent er;
}

.card-number {
    display: flex;
    flex-direction: column;
}

.container-location-time {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-bottom: 24px;
}

.card-2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    padding: 5px;
    text-align: left;
}

footer {
    background-color: #2E5070;
    ;
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;

}

.content-footer1 {
    display: flex;
    gap: 84px;
}

.content-footer1 img {
    width: 180px;
    height: 26.1px;
    margin-right: 150px;
}

.navigasi-judul {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}

.content-footer1 ul {
    list-style: none;
}

.content-footer1 ul a {
    text-decoration: none;
}

.content-footer1 ul a li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.content-footer2 {
    display: flex;
    gap: 13px;
}

.content-footer2 .kontak-judul {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.content-footer2 .nomer-list {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.nomer-kontak-footer {
    margin-bottom: 8px;
}

.akun-admin {
    margin-bottom: 15px;
}

.content-kontak-footer {
    display: flex;
}

.content-kontak-footer i {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 5px;
}

.isi-keterangan-kontak {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.social-media-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 150px;
}

.social-media-content .social-media-judul {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.yt-tt-ig-content {
    display: flex;
    color: white;
}

.yt-tt-ig-content i {
    width: 25px;
    height: 25px;
}

.yt-tt-ig-content p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.hr2 {
    height: 0;
    color: #474747;
} 

.copyright-content {
   background-color: #2E5070;
   padding-top: 18px;
   padding-bottom: 19px;
}

.copyright {
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 158px;
}