body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 999999px; /* Menambahkan border-radius */
    margin: 20px; /* Menambahkan margin untuk memberikan ruang di sekitar navbar */
}

.navbar-brand .logo {
    height: 10px;
    width: 98px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar-user .username {
    background-color: pink;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 40px;
    width: 350px;
    padding: 20px;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: #333;
}

.card p {
    color: #555;
}

.card button {
    background-color: #95BB6F;
    ;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card button:hover {
    background-color: #76c76b;
}

.card-login {
    display: flex;
    background-color: #F6C956;
    width: 1300px;
    height: 760px;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.content {
    margin-left: 40px;
}

.logo-section {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 20px;
}

.logo {
    width: 56px;
    height: auto;
    float: inline-start;
    margin-top: 40px;
    margin-left: -240px;
}

.name-logo {
    text-transform: capitalize;
    font-family: 'Anton', sans-serif;
    color: #3d67ff;
    margin-top: 55px;
}

.judul {
    font-family: 'Instrument Sans', sans-serif;
    color: #2D208A;
    font-size: 20px;
    font-weight: 700;
}

.info-text {
    font-size: 18px;
    color: #B1ACCD;
    font-weight: 400;
    font-family: 'Instrument Sans', sans-serif;
    margin-bottom: 56px;
}

.email-container {
    margin-bottom: 32px;
}

.email-text {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2D208A;
}

#email {
    width: 475px;
    height: 35px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #B1ACCD;
    padding-left: 10px;
}

#email:active {
    border-color: #2D208A;
}

.passwoed-container {
    margin-bottom: 32px;
}

.password-text {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2D208A;
}

#password {
    width: 475px;
    height: 35px;
    border-radius: 4px;
    margin-top: 10px;
    border: 2px solid #B1ACCD;
    padding-left: 10px;
    text-transform: capitalize;
    margin-bottom: 60px;
}

#password:active {
    border-color: #2D208A !important;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #2E5070;
    color: white;
    border: none;
    width: 480px;
    height: 54px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 600;
    border-radius: 100px;
}

.login:hover {
    background-color: ;
}

footer {
    margin-top: 70px;
    background-image: url(paw-pattern\ 1.png);
    background-color: #2E5070;
    ;
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;

}

.content-footer1 {
    display: flex;
    gap: 84px;
}

.content-footer1 img {
    width: 180px;
    height: 26.1px;
    margin-right: 150px;
}

.navigasi-judul {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}

.content-footer1 ul {
    list-style: none;
}

.content-footer1 ul a {
    text-decoration: none;
}

.content-footer1 ul a li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.content-footer2 {
    display: flex;
    gap: 13px;
}

.content-footer2 .kontak-judul {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.content-footer2 .nomer-list {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.nomer-kontak-footer {
    margin-bottom: 8px;
}

.akun-admin {
    margin-bottom: 15px;
}

.content-kontak-footer {
    display: flex;
}

.content-kontak-footer i {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 5px;
}

.isi-keterangan-kontak {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.social-media-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 150px;
}

.social-media-content .social-media-judul {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.yt-tt-ig-content {
    display: flex;
    color: white;
}

.yt-tt-ig-content i {
    width: 25px;
    height: 25px;
}

.yt-tt-ig-content p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.hr2 {
    height: 0;
    color: #474747;
} 

.copyright-content {
   background-color: #2E5070;
   padding-top: 18px;
   padding-bottom: 19px;
}

.copyright {
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 158px;
}
